header {
	position: fixed;
	top: 52px;
	left: 0;
	width: 100%;
	z-index: 99;
}
header.sticky .header-content {
    align-items: center;
    height: 90px;
}
.header-content {
	display: flex;
	flex-wrap: wrap;
}
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 9999;
    background-image: url(../../images/pager-bg.jpg);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
header.header-bg {
	position: static;
	background-image: url(../../images/pager-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
header.header-bg nav > ul > li {
	padding: 51px 0 57px;
  
}
header.header-bg .header-content {
	align-items: center;
    
}
.logo-text{
    display: flex;
    flex-direction: row;
}
.logo-text span{
    color:#0d6b68 ;
}
/* NAVIGATION */

nav {
	padding-left: 148px;
	width: 62.75%;
	margin-top: 2px;
}
nav > ul > li {
	display: inline-block;
	margin-right: 40px;
	position: relative;
}
nav ul li a {
	display: inline-block;
	color: #070c1f;
	font-size: 15px;
	font-weight: 500;
    text-decoration: none;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	box-shadow: 0 0 10px rgba(0,0,0,0.30);
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	z-index: 99;
}
nav ul ul li {
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.10);
}
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
nav ul ul li a {
	color: #fff;
}
nav ul ul li a:hover {
	color: #fff;
}
.mint-funcz li {
	display: inline-block;
	margin-right: 33px;
}
.mint-funcz li:last-child {
	margin-right: 0;
}
.mint-funcz li a {
	display: inline-block;
	position: relative;
}
.cart-number {
	position: absolute;
	top: -6px;
	right: -10px;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	font-weight: 500;
}
.contact-head-info {
	text-align: right;
	margin-left: auto;
	margin-top: 1px;
}
.contact-head-info > h4 {
	color: #070c1f;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 3px;
}
.contact-head-info > a {
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	padding-bottom: 4px;
	position: relative;
}
.contact-head-info > a:before,
.lnk-default2:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #aac6c6;
}
.lnk-default2:before {
	height: 2px;
}
.contact-head-info > a:hover:before {
	width: 0;
}
.lnk-default2:hover:before {
	width: 0;
}

/* ================ MOBILE MENU ================ */

.menu-btnn {
	text-align: center;
	display: none;
	padding-top: 3px;
	margin-left: 30px;
}
.no-br {
	border:0;
}
.menu-btn {
	width: 24px;
	margin: 0 auto;
	display: inline-block;
	cursor: pointer;
}
.menu-btn > span {
	float: left;
	width: 100%;
	height: 1px;
	background-color: #232222;
	margin-bottom: 6px;
	-webkit-transition:transform .3s;
	-moz-transition:transform .3s;
	-ms-transition:transform .3s;
	-o-transition:transform .3s;
	transition:transform .3s;
}
.menu-btn > span:last-child {
	margin-bottom: 0;
}

.menu-btn.active span.bar1 {
	-webkit-transform: translateY(8px) rotate(-45deg);
	-moz-transform: translateY(8px) rotate(-45deg);
	-ms-transform: translateY(8px) rotate(-45deg);
	transform: translateY(8px) rotate(-45deg);
}
.menu-btn.active span.bar2 {
	opacity: 0;
	visibility: hidden;
}
.menu-btn.active span.bar3 {
	-webkit-transform: translateY(-6px) rotate(-135deg);
	-moz-transform: translateY(-6px) rotate(-135deg);
	-ms-transform: translateY(-6px) rotate(-135deg);
	transform: translateY(-6px) rotate(-135deg);
}

.responsive-mobile-menu {
	position: fixed;
	top: 0;
	left: -250px;
	width: 250px;
	z-index: 9999;
	height: 100%;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
}
.responsive-mobile-menu.active {
	opacity: 1;
	visibility: visible;
	left: 0;
}
.responsive-mobile-menu ul {
	float: left;
	width: 100%;
}
.responsive-mobile-menu ul li {
	float: left;
	width: 100%;
}
.responsive-mobile-menu ul li a:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 10px;
	font-family: 'Font Awesome 5 Free';
	color: #fff;
	font-weight: 900;
	font-size: 13px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.responsive-mobile-menu ul li.menu-item-has-children > a:before {
	opacity: 1;
	visibility: visible;
}
.responsive-mobile-menu ul li.menu-item-has-children.active > a:before {
	content: '';
}
.responsive-mobile-menu ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(255,255,255,0.10);
	float: left;
	width: 100%;
	position: relative;
	padding: 15px 10px;
}
.responsive-mobile-menu ul ul {
	display: none;
	padding: 20px 0 20px 20px;
}
.responsive-mobile-menu ul ul li a {
	border-bottom: 0;
	padding: 0;
	margin-bottom: 15px;
}
.responsive-mobile-menu ul ul li:last-child a {
	margin-bottom: 0;
}



/* For Search Button */
.search-overlay {
    display: none
}

.search-overlay.search-popup {
    position: absolute;
    top: 100%;
    width: 300px;
    right: 0;
    background: #fff;
    z-index: 120;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    margin-top: 25px
}

.search-overlay.search-popup .search-form {
    position: relative
}

.search-overlay.search-popup .search-form .search-input {
    display: block;
    width: 100%;
    height: 50px;
    line-height: normal;
    border: 1px solid #eee;
    color: #202647;
    outline: 0;
    -webkit-transition: .5s;
    transition: .5s;
    padding-top: 4px;
    padding-left: 10px
}

.search-overlay.search-popup .search-form .search-input:focus {
    border-color: #0d6b68
}

.search-overlay.search-popup .search-form .search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    background: 0 0;
    border: none;
    width: 50px;
    outline: 0;
    color: #6a6c72;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 0
}

.search-overlay.search-popup .search-form .search-button:focus, .search-overlay.search-popup .search-form .search-button:hover {
    color: #0d6b68
}

@media only screen and (max-width: 767px){
.navbar-area .navbar-brand img {
    max-width: 120px;
}
.boosting-list-tab .tab_content .tabs_item .content h2 {
    margin: 30px 0 10px;
}
} 

a, a:hover  {
    text-decoration: none ;
}