
/* header {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    z-index: 99;
}

header .sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-image: url(../../images/pager-bg.jpg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

header.sticky .header-content {
    align-items: center;
    height: 90px;
}

header.sticky.header-bg nav>ul>li {
    padding: 31px 0 34px;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
}

.failed,
.text-info {
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.text-info {
    color: #fff !important;
} */

/* NAVIGATION */

/* nav {
    padding-left: 148px;
    width: 62.75%;
    margin-top: 2px;
    justify-items: flex-start;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
nav>ul>li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

nav ul li a {
    display: inline-block;
    color: #070c1f;
    font-size: 15px;
    font-weight: 500;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    z-index: 99;
}

nav ul ul li {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

nav ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

nav ul ul li a {
    color: #fff;
}

nav ul ul li a:hover {
    color: #fff;
}

.mint-funcz li {
    display: inline-block;
    margin-right: 33px;
}

.mint-funcz li:last-child {
    margin-right: 0;
}

.mint-funcz li a {
    display: inline-block;
    position: relative;
}

.cart-number {
    position: absolute;
    top: -6px;
    right: -10px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
}

.contact-head-info {
    text-align: right;
    margin-left: auto;
    margin-top: 1px;
}

.contact-head-info>h4 {
    color: #070c1f;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px;
}

.contact-head-info>a {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 4px;
    position: relative;
}

.contact-head-info>a:before,
.lnk-default2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #aac6c6;
}

.lnk-default2:before {
    height: 2px;
}

.contact-head-info>a:hover:before {
    width: 0;
}

.lnk-default2:hover:before {
    width: 0;
} */

/* ================ MOBILE MENU ================ */

/* .menu-btnn {
    text-align: center;
    display: none;
    padding-top: 3px;
    margin-left: 30px;
}

.no-br {
    border: 0;
}

.menu-btn {
    width: 24px;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
}

.menu-btn>span {
    float: left;
    width: 100%;
    height: 1px;
    background-color: #232222;
    margin-bottom: 6px;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}

.menu-btn>span:last-child {
    margin-bottom: 0;
}

.menu-btn.active span.bar1 {
    -webkit-transform: translateY(8px) rotate(-45deg);
    -moz-transform: translateY(8px) rotate(-45deg);
    -ms-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
}

.menu-btn.active span.bar2 {
    opacity: 0;
    visibility: hidden;
}

.menu-btn.active span.bar3 {
    -webkit-transform: translateY(-6px) rotate(-135deg);
    -moz-transform: translateY(-6px) rotate(-135deg);
    -ms-transform: translateY(-6px) rotate(-135deg);
    transform: translateY(-6px) rotate(-135deg);
}

.responsive-mobile-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    z-index: 9999;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
}

.responsive-mobile-menu.active {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.responsive-mobile-menu ul {
    float: left;
    width: 100%;
}

.responsive-mobile-menu ul li {
    float: left;
    width: 100%;
}

.responsive-mobile-menu ul li a:before {
    content: '\f067';
    position: absolute;
    top: 50%;
    right: 10px;
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    font-weight: 900;
    font-size: 13px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.responsive-mobile-menu ul li.menu-item-has-children>a:before {
    opacity: 1;
    visibility: visible;
}

.responsive-mobile-menu ul li.menu-item-has-children.active>a:before {
    content: '\f068';
}

.responsive-mobile-menu ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    float: left;
    width: 100%;
    position: relative;
    padding: 15px 10px;
}

.responsive-mobile-menu ul ul {
    display: none;
    padding: 20px 0 20px 20px;
}

.responsive-mobile-menu ul ul li a {
    border-bottom: 0;
    padding: 0;
    margin-bottom: 15px;
}

.responsive-mobile-menu ul ul li:last-child a {
    margin-bottom: 0;
} */

/* ================ BACKGROUND STYLING ================ */


/* .main-banner {
    background-image: url(../../images/main-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 162px 0 95px;
}

.banner-content {
    padding-top: 74px;
}

.banner-content>h2 {
    color: #070c1f;
    font-size: 91px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 96px;
    margin-bottom: 39px;
}

.banner-content>p {
    color: #070c1f;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 54px;
    padding-right: 110px;
}

.lnk-default {
    display: inline-block;
    height: 68px;
    line-height: 68px;
    padding: 0 65px;
    color: #fafafa;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.lnk-default span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    opacity: .15;
    background: #000;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.lnk-default:hover span,
.lnk-default:focus span {
    width: 40rem;
    height: 40rem;
}

.lnk-default:hover:before {
    opacity: 1;
    visibility: visible;
    border-radius: 0;
}

.lnk-default i {
    margin-left: 10px;
}

a:hover {
    color: #fff;
}

.banz-list {
    margin-top: 104px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.banz-list li {
    margin-right: 80px;
}

.banz-list li:last-child {
    margin-right: 0;
}

.mint-fzt {
    display: table;
}

.mint-fzt>img {
    display: table-cell;
    position: relative;
    top: 5px;
}

.bzn-csd {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 25px;
}

.bzn-csd>h5 {
    color: #070c1f;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 8px;
}

.bzn-csd>span {
    display: block;
    color: #91939b;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    max-width: 120px;
}

/* HEADER SEARCH MENU */

/* .header-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 70%;
    background-color: #fff;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
}

.header-search.active {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.search-close-btn {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    line-height: 4.375rem;
    width: 4.375rem;
    cursor: pointer;
    height: 4.375rem;
    font-size: 1.5625rem;
    text-align: center;
}

.header-search>form {
    max-width: 85%;
    width: 100%;
}

.header-search>form input {
    padding: 1.5625rem 0;
    border: 0;
    border-bottom: 2px solid rgba(64, 166, 255, .48);
    width: 100%;
    font-size: 2.1875rem;
}

.header-search>form input {
    border-bottom-color: #666;
}

.search-close-btn:hover {
    color: #fff;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
}

.custom-container {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}



.img-file {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    display: inline-block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

/* ================ HEADER ================ */

header {
	position: fixed;
	top: 52px;
	left: 0;
	width: 100%;
	z-index: 99;
}
header.sticky .header-content {
    align-items: center;
    height: 90px;
}
.header-content {
	display: flex;
	flex-wrap: wrap;
}
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 9999;
    background-image: url(../../images/pager-bg.jpg);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
header.header-bg {
	position: static;
	background-image: url(../../images/pager-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
header.header-bg nav > ul > li {
	padding: 51px 0 57px;
  
}
header.header-bg .header-content {
	align-items: center;
    
}
.logo-text{
    display: flex;
    flex-direction: row;
}
.logo-text span{
    color:#0d6b68 ;
}
/* NAVIGATION */

nav {
	padding-left: 148px;
	width: 62.75%;
	margin-top: 2px;
}
nav > ul > li {
	display: inline-block;
	margin-right: 40px;
	position: relative;
}
nav ul li a {
	display: inline-block;
	color: #070c1f;
	font-size: 15px;
	font-weight: 500;
    text-decoration: none;
}
nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	box-shadow: 0 0 10px rgba(0,0,0,0.30);
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	z-index: 99;
}
nav ul ul li {
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.10);
}
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
nav ul ul li a {
	color: #fff;
}
nav ul ul li a:hover {
	color: #fff;
}
.mint-funcz li {
	display: inline-block;
	margin-right: 33px;
}
.mint-funcz li:last-child {
	margin-right: 0;
}
.mint-funcz li a {
	display: inline-block;
	position: relative;
}
.cart-number {
	position: absolute;
	top: -6px;
	right: -10px;
	width: 17px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	font-weight: 500;
}
.contact-head-info {
	text-align: right;
	margin-left: auto;
	margin-top: 1px;
}
.contact-head-info > h4 {
	color: #070c1f;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 3px;
}
.contact-head-info > a {
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	padding-bottom: 4px;
	position: relative;
}
.contact-head-info > a:before,
.lnk-default2:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #aac6c6;
}
.lnk-default2:before {
	height: 2px;
}
.contact-head-info > a:hover:before {
	width: 0;
}
.lnk-default2:hover:before {
	width: 0;
}

/* ================ MOBILE MENU ================ */

.menu-btnn {
	text-align: center;
	display: none;
	padding-top: 3px;
	margin-left: 30px;
}
.no-br {
	border:0;
}
.menu-btn {
	width: 24px;
	margin: 0 auto;
	display: inline-block;
	cursor: pointer;
}
.menu-btn > span {
	float: left;
	width: 100%;
	height: 1px;
	background-color: #232222;
	margin-bottom: 6px;
	-webkit-transition:transform .3s;
	-moz-transition:transform .3s;
	-ms-transition:transform .3s;
	-o-transition:transform .3s;
	transition:transform .3s;
}
.menu-btn > span:last-child {
	margin-bottom: 0;
}

.menu-btn.active span.bar1 {
	-webkit-transform: translateY(8px) rotate(-45deg);
	-moz-transform: translateY(8px) rotate(-45deg);
	-ms-transform: translateY(8px) rotate(-45deg);
	transform: translateY(8px) rotate(-45deg);
}
.menu-btn.active span.bar2 {
	opacity: 0;
	visibility: hidden;
}
.menu-btn.active span.bar3 {
	-webkit-transform: translateY(-6px) rotate(-135deg);
	-moz-transform: translateY(-6px) rotate(-135deg);
	-ms-transform: translateY(-6px) rotate(-135deg);
	transform: translateY(-6px) rotate(-135deg);
}

.responsive-mobile-menu {
	position: fixed;
	top: 0;
	left: -250px;
	width: 250px;
	z-index: 9999;
	height: 100%;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
}
.responsive-mobile-menu.active {
	opacity: 1;
	visibility: visible;
	left: 0;
}
.responsive-mobile-menu ul {
	float: left;
	width: 100%;
}
.responsive-mobile-menu ul li {
	float: left;
	width: 100%;
}
.responsive-mobile-menu ul li a:before {
	content: '\f067';
	position: absolute;
	top: 50%;
	right: 10px;
	font-family: 'Font Awesome 5 Free';
	color: #fff;
	font-weight: 900;
	font-size: 13px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.responsive-mobile-menu ul li.menu-item-has-children > a:before {
	opacity: 1;
	visibility: visible;
}
.responsive-mobile-menu ul li.menu-item-has-children.active > a:before {
	content: '\f068';
}
.responsive-mobile-menu ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(255,255,255,0.10);
	float: left;
	width: 100%;
	position: relative;
	padding: 15px 10px;
}
.responsive-mobile-menu ul ul {
	display: none;
	padding: 20px 0 20px 20px;
}
.responsive-mobile-menu ul ul li a {
	border-bottom: 0;
	padding: 0;
	margin-bottom: 15px;
}
.responsive-mobile-menu ul ul li:last-child a {
	margin-bottom: 0;
}

/* @charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap";

.neemo-nav {
    background-color: transparent;
    padding: 15px 0;
    justify-items: center;
    background-image: url('../../images/main-banner-bg.jpg');
    z-index: 99;
}
header {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    z-index: 99;
}
.neemo-nav .navbar {
    padding: 0
}

.neemo-nav .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0
}

.neemo-nav .navbar .navbar-nav {
    margin-left: auto;
    margin-right: auto
}

.neemo-nav .navbar .navbar-nav .nav-item {
    position: relative;
    padding: 15px 0
}

.neemo-nav .navbar .navbar-nav .nav-item a {
    font-size: 15px;
    font-weight: 500;
    color: #131f58;
    text-transform: capitalize;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px
}

.neemo-nav .navbar .navbar-nav .nav-item a.active, .neemo-nav .navbar .navbar-nav .nav-item a:focus, .neemo-nav .navbar .navbar-nav .nav-item a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item a i {
    font-size: 10px;
    position: relative;
    top: -1px;
    margin-left: 1px
}

.neemo-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-right: 0
}

.neemo-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-left: 0
}

.neemo-nav .navbar .navbar-nav .nav-item.active a, .neemo-nav .navbar .navbar-nav .nav-item:focus a, .neemo-nav .navbar .navbar-nav .nav-item:hover a {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    background: #fff;
    position: absolute;
    border: none;
    top: 80px;
    left: 0;
    width: 230px;
    z-index: 99;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 20px 25px
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
    padding: 0
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    text-transform: capitalize;
    padding: 8px 0;
    margin: 0;
    color: #131f58;
    font-size: 15px
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #131f58
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #131f58;
    text-transform: capitalize
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 195px;
    top: 0;
    opacity: 0;
    visibility: hidden
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 195px;
    top: 0;
    opacity: 0;
    visibility: hidden
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: 195px;
    top: 0;
    opacity: 0;
    visibility: hidden
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
    color: #0d6b68
}

.neemo-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: -15px
}

.neemo-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%
}

.neemo-nav .navbar .others-options {
    margin-left: 30px
}

.neemo-nav .navbar .others-options .option-item {
    color: #5b5b98;
    display: inline-block;
    position: relative;
    line-height: 1
}

.neemo-nav .navbar .others-options .option-item .search-btn {
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
    color: #5b5b98;
    font-size: 20px;
    font-weight: 600
}

.neemo-nav .navbar .others-options .option-item .search-btn:hover {
    color: #0d6b68
}

.neemo-nav .navbar .others-options .option-item .close-btn {
    cursor: pointer;
    display: none;
    -webkit-transition: .5s;
    transition: .5s;
    width: 20px;
    color: #5b5b98;
    font-size: 18px
}

.neemo-nav .navbar .others-options .option-item .close-btn.active {
    display: block
}

.neemo-nav .navbar .others-options .option-item .close-btn:hover {
    color: #0d6b68
}

.neemo-nav .navbar .others-options .burger-menu {
    width: 35px;
    height: auto;
    background-color: transparent;
    margin-left: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 1px
}

.neemo-nav .navbar .others-options .burger-menu span {
    display: block;
    width: 35px;
    height: 3px;
    background: #5b5b98;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 30px;
    margin-left: auto;
    margin-bottom: 4px
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap
}
.navbar-brand .navlogo-text{
    display: flex;
    flex-direction: row;
}
.neemo-nav .navbar .others-options .burger-menu span:nth-child(3) {
    margin-bottom: 0;
    width: 28px;
    margin-left: auto
}

.neemo-nav .navbar .others-options .burger-menu:hover span {
    background: #202647
}

.neemo-nav .navbar .others-options .burger-menu:hover span:nth-child(3) {
    width: 35px
}

.navbar-area {
    background-color: transparent;
    position: absolute;
    height: auto
}

.navbar-area, .navbar-area.is-sticky {
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%
}

.navbar-area.is-sticky {
    position: fixed;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
    background: #fff !important;
    -webkit-animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
    animation: fadeInDown .5s ease-in-out 0s 1 normal none running
}

.navbar-toggler {
    border: none;
    border-radius: 0;
    padding: 0
}

.navbar-toggler:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar-toggler .icon-bar {
    width: 35px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #221638;
    height: 4px;
    display: block;
    border-radius: 3px
}

.navbar-toggler .top-bar {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
    left: 4px;
    position: relative
}

.navbar-toggler .middle-bar {
    opacity: 0;
    margin: 5px 0
}

.navbar-toggler .bottom-bar {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
    left: 4px;
    position: relative
}

.navbar-toggler.collapsed .top-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 0
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1
}

.navbar-toggler.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    left: 0
}

/* For Search Button */
.search-overlay {
    display: none
}

.search-overlay.search-popup {
    position: absolute;
    top: 100%;
    width: 300px;
    right: 0;
    background: #fff;
    z-index: 120;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    margin-top: 25px
}

.search-overlay.search-popup .search-form {
    position: relative
}

.search-overlay.search-popup .search-form .search-input {
    display: block;
    width: 100%;
    height: 50px;
    line-height: normal;
    border: 1px solid #eee;
    color: #202647;
    outline: 0;
    -webkit-transition: .5s;
    transition: .5s;
    padding-top: 4px;
    padding-left: 10px
}

.search-overlay.search-popup .search-form .search-input:focus {
    border-color: #0d6b68
}

.search-overlay.search-popup .search-form .search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    background: 0 0;
    border: none;
    width: 50px;
    outline: 0;
    color: #6a6c72;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 0
}

.search-overlay.search-popup .search-form .search-button:focus, .search-overlay.search-popup .search-form .search-button:hover {
    color: #0d6b68
}

@media only screen and (max-width: 767px){
.navbar-area .navbar-brand img {
    max-width: 120px;
}
.boosting-list-tab .tab_content .tabs_item .content h2 {
    margin: 30px 0 10px;
}
} */

a, a:hover  {
    text-decoration: none ;
}