/* PAGER SECTION */

.page-content {
	padding: 100px 0 175px;
}

/* CONTACT PAGE */

.contact-head-warrenave {
	padding: 48px 0 51px;
}

.contact-head-warrenave p {
	color: #c3120e;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    margin-top: -113px;
    text-align: center;
    align-content: center;
	
}

.contact-head-warrenave .main-title{
	font-family: monospace sans-serif;
	font-size: 15px;
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
}

.contact_info_warrenAve {
	padding: 67px 70px;
	border-radius: 10px 0 0 10px;
	height: 100%;
	background-color: #f5f5f5 ;
}

.warrenAve-sub-title.white {
	color: #000000;
	padding-left: 0;
	margin-top: 0;
	margin: 0;
	padding-bottom: 27px;
	margin-bottom: 49px;
	font-size: 40px;
	font-weight: 700;
	position: relative;

}

.warrenAve-sub-title.white:before {
	background-color: #c3120e;
	top: auto;
	transform: inherit;
	bottom: 0;
	left: 0;
	width: 56px;
	height: 2px;
	content: '';
	position: absolute;
}


.warrenAve-cl-list li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 25px;
}

.warrenAve-cl-list li:last-child {
	margin-bottom: 0;
}

.warrenAve-cl-list li>span {
	width: 35px;
}

.warrenAve-cl-list li>p {
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	max-width: 80%;
	padding-left: 20px;
}

.warrenAve-cl-list li>p span {
	display: inline-block;
	color: #c3120e;
}

/* CONTACT MAIN FORM */

.contact-main-form {
	background-color: #f5f5f5;
	padding: 86px 80px 50px;
	border-radius: 0 10px 10px 0;
	height: 100%;
	
}

.contact-main .row {
	margin: 0;
}

.contact-main .col-lg-4,
.contact-main .col-lg-8 {
	padding: 0;
}

.contact-main .form-group label {
	display: block;
	color: #afb0b6;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 12px;
}

.contact-main .form-group {
	margin-bottom: 41px;
}

.form-control {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #e4e4e4;
	color: #070c1f;
	font-size: 16px;
	font-weight: 500;
	background-color: inherit;
	padding: 0 0 15px;
	border-radius: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.form-group textarea.form-control {
	height: 75px;
}

.form-control:focus {
	background-color: inherit;
}

.form-submit {
	width: 92px;
	height: 92px;
	border: 1px solid #c4d8d4;
	text-align: center;
	position: relative;
	top: 40px;
}

.form-submit button {
	width: 64px;
	height: 64px;
	background: linear-gradient(to left, #0d6b68, #0f938f);
	border: 0;
	margin-top: 14px;
}


.contact-social {
	margin-top: 60px;
	margin-bottom: -15px;
}

.contact-social>span {
	display: inline-block;
	color: #24262e;
	font-size: 20px;
	font-weight: 500;
}

.social-links.without-bg li a {
	background-color: inherit;
	width: auto;
	height: auto;
}

.social-links.without-bg {
	display: inline-block;
	margin-left: 73px;
}

.social-links.without-bg li {
	margin-right: 47px;
}

.social-links.without-bg li a {
	display: inline-block;
	font-size: 22px;
}

.col.locillunois {
    font-size: 47px;
}